<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.landao.dao.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_telephone
    </sql>
    <!--根据id查询信息-->
    <select id="getUserById" parameterType="integer" resultType="com.lin.landao.entities.User">
        select * from user where user_id= #{userId};
    </select>

    <!--根据username查询信息-->
    <select id="getUserByUserName" parameterType="string" resultType="com.lin.landao.entities.User">
        select * from user where user_name= #{userName};
    </select>
    <!--查询所有信息-->
    <select id="queryUserAll" resultType="com.lin.landao.entities.User">
        select * from user;
    </select>
    <!--添加-->
    <insert id="create" parameterType="com.lin.landao.entities.User"
            useGeneratedKeys="true" keyProperty="userId">
		insert into
		user(user_name,user_telephone,user_password,user_age,user_rname,user_sex)
		values(#{userName},#{userTelephone},#{userPassword},#{userAge},#{userRname},#{userSex})
	</insert>
    <!--根据id删除信息-->
    <delete id="deleteUserById" parameterType="java.lang.Integer">
		delete from user
		where user_id
		=#{userId,jdbcType=INTEGER}
	</delete>
    <!--根据id修改-->
    <update id="updateUserById"
    parameterType="com.lin.landao.entities.User">
    update user
    set
    user_name=#{userName},
    user_password=#{userPassword},
    user_telephone=#{userTelephone}
    where user_id= #{userId}
    </update>
</mapper>
